<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>quxianTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D11E0951E83AD4B0012C606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D11E0AE1E83AD4B0012C606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D11E0B91E83AD4B0012C606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
